[
   {
      "coin_name":"EXAMPLE",
      "data":{
         "current_price":0.0,
         "timestamp_of_current_price": "2024-02-24T13:07:00.000Z",
         "currency":"USD",
         "price_history":[
            {
               "timestamp":"101010",
               "price":0.044
            }
         ]
      }
   },
   {
      "coin_name":"Atletico De Madrid Fan Token",
      "data":{
         "current_price":0.0,
         "currency":"USD",
         "timestamp_of_current_price": "2024-02-24T13:07:00.000Z",
         "price_history":[

         ]
      }
   }
]